# Local backend
# VITE_API_URL=http://localhost:5000/api

# LAN backend example
# VITE_API_URL=http://192.168.0.110:5000/api

VITE_API_URL=http://localhost:5000/api
VITE_APP_VERSION=0.1.0
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
